@{
    ViewData["Title"] = "Поток задач";
}

<h1>Поток задач</h1>
<br />
<br />

    <div class="row">
        @foreach (var status in ViewBag.Statuses)
        {
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h3>@status.Statusname</h3>
                    </div>
                    <div class="card-body">
                        @{
                            var userTasks = ((IEnumerable<TaskFlow.Task>)ViewBag.Tasks).Where(t => t.AssignedtoNavigation != null && t.AssignedtoNavigation.Userid == int.Parse(User.FindFirst("UserId").Value));
                        }
                        @foreach (TaskFlow.Task task in userTasks.Where(t => t.Statusid == status.Statusid))
                        {
                            <div class="task-item">
                                <h4><a href="@Url.Action("TaskDetails", new { taskId = task.Taskid })">@task.Title (@task.PriorityNavigation.Priorityname)</a></h4>
                                <form method="post" action="@Url.Action("ChangeTaskStatus", new { taskId = task.Taskid })">
                                    <select name="newStatus" class="form-control">
                                        @foreach (var availableStatus in ViewBag.Statuses)
                                        {
                                            <option value="@availableStatus.Statusid" selected="@(availableStatus.Statusid == task.Statusid)">@availableStatus.Statusname</option>
                                        }
                                    </select>
                                    <button type="submit" class="btn btn-primary">Изменить статус</button>
                                </form>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

